.task-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-inline: auto;
}

.tasks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .tasks-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline: 1rem;
  }

}